
#photoview
  #photoslider
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img

#error Error!

#start.overlay
  %div
    %span#duration 5
    %span s

#stop.overlay
