
#photoview
  #photoslider
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
