
#photoview
  #photoslider
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img
    .slide
      .photo
        %img

#error Error!

#play.overlay
  %div
    %span#duration 3
    %span s

#stop.overlay Stop
