
// either 36px or 64px
$toolbarMobile: 0px;
$toolbarDesktop: 64px;

// some common mixins
@mixin shadow($size, $colour) {
  -webkit-box-shadow: $size $size $size+1 $colour;
  -moz-box-shadow: $size $size $size+1 $colour;
  box-shadow: $size $size $size+1 $colour;
}

@mixin rounded($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin transition($property, $duration, $timing) {
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

$bg-color: #555;

body {
  font-family: Helvetica, Arial;
  margin: 0px;
  background-color: $bg-color;
}

#toolbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: $toolbarDesktop;
  background-image: url(toolbar-#{$toolbarDesktop}.png);
  background-repeat: repeat-x;

  body.mobile & {
    height: $toolbarMobile;
    background-image: url(toolbar-#{$toolbarMobile}.png);
  }

  #title {
    $titleSize: 20px;
    text-align: center;
    font-size: $titleSize;
    font-weight: bold;
    color: white;
    width: 200px;
    top: ($toolbarDesktop - $titleSize) / 2 - 4;
    position: relative;
    margin: 0px auto;

    body.mobile & {
      top: ($toolbarMobile - $titleSize) / 2 - 4;
    }
  }
}

#content {
  position: absolute;
  top: $toolbarDesktop;
  bottom: 0px;
  width: 100%;

  body.mobile & {
    top: $toolbarMobile;
  }
}

#error {
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: 36px;
  color: white;
  left: 50px;
  top: 100px
}

.overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  
  opacity: 0.0;
  @include transition(opacity, 0.5s, ease-in-out);
  
  &.show {
    opacity: 1.0;
  }
}

$num_slides: 5;

#photoview {
  height: 100%;
  width: 100%;
  overflow: hidden;

  #photoslider {
    position: relative;
    left: - (floor($num_slides/2) * 80%) + 10%;
    width: $num_slides * 80%;
    height: 100%;

    .slide {
      height: 100%;
      width: (100 / $num_slides) * 1%;
      float:left;
      margin: 0px;
      padding: 0px;
      @include transition(width, 0.7s, ease-in-out);

      &.hidden { width: 0px; }
      &.noanimation { @include transition(none, 0s, linear); }

      .photo {
        position: relative;
        margin: 0px auto;
        overflow: hidden;
        background-color: white;
        @include shadow(5px, $bg-color - #111);

        img {
          border: 0px;
          margin: 0px;
        }
      }
    }
  }
}
